<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Login MABOOK</h1>
        <form method="post" action="/login">
            <label for="username">Username</label><br>
                <input type="text" id="username" name="username" value="">
            <br><br>
            <label for="password">Password</label><br>
                <input type="text" id="password" name="password" value="">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>