<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <center>
        <h1>Welcome to MABOOK</h1>
        <br><br>
        <h4>Merupakan media sosial yang memungkinkan bagi penggunanya untuk berbagi foto-foto. Berdasarkan data yang </h4>
        <h4>dihimpun We Are Social, tercatat 50% orang Dublin-Fox yang menggunakan media sosial MABOOK. </h4> 
        <h4>Ini artinya, dari 4 pengguna media sosial di Dublin-Fox, sekitar 2 orang sudah menggunakan MABOOK.<h4>   
        <br><br>
        <button>
            <a href="/register">Register</a>
        </button>
        <button>
            <a href="/login">Login</a>
        </button>
    </center>

</body>
</html>